body {
  text-align: left;
  font-family: 'Khula', sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/boxes_grayscale.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  opacity: 0.2;
  z-index: -1;
}

#inputs {

}

#holiday-name {
  width: 200px;
}
