body {
  text-align: center;
  font-family: verdana;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/boxes_grayscale.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  opacity: 0.6;
}

#inputs {

}
